## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [5]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [6]:
sample_list1 =random.sample(range(100),80) 
print(sample_list1)

[77, 62, 35, 6, 96, 66, 15, 31, 16, 93, 0, 21, 80, 54, 79, 83, 63, 70, 19, 84, 92, 98, 2, 91, 24, 86, 48, 34, 60, 23, 49, 25, 7, 3, 12, 42, 57, 61, 73, 95, 38, 82, 89, 27, 32, 85, 9, 68, 58, 90, 52, 51, 50, 20, 55, 88, 36, 14, 75, 69, 47, 22, 26, 56, 13, 71, 41, 28, 4, 97, 99, 37, 8, 87, 65, 43, 5, 40, 94, 74]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [7]:
set1=set(sample_list1)
set1

{0,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 12,
 13,
 14,
 15,
 16,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 31,
 32,
 34,
 35,
 36,
 37,
 38,
 40,
 41,
 42,
 43,
 47,
 48,
 49,
 50,
 51,
 52,
 54,
 55,
 56,
 57,
 58,
 60,
 61,
 62,
 63,
 65,
 66,
 68,
 69,
 70,
 71,
 73,
 74,
 75,
 77,
 79,
 80,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99}

In [7]:
len(set1)

#The lenght is still 80

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [15]:
sample_list_2=[]
for i in range((80)):
    sample_list_2.append(random.sample(range(100),1)[0] )
print(sample_list_2)

[16, 57, 83, 47, 68, 4, 66, 50, 11, 99, 97, 55, 2, 44, 33, 94, 75, 88, 99, 11, 26, 38, 83, 93, 53, 51, 70, 82, 77, 92, 67, 61, 31, 31, 26, 34, 6, 40, 25, 16, 45, 63, 30, 56, 15, 10, 93, 23, 24, 63, 40, 24, 7, 94, 39, 13, 52, 23, 34, 53, 0, 91, 93, 34, 89, 45, 2, 54, 15, 70, 74, 8, 13, 50, 53, 92, 73, 30, 75, 37]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [18]:
set2=set(sample_list_2)
set2

{0,
 2,
 4,
 6,
 7,
 8,
 10,
 11,
 13,
 15,
 16,
 23,
 24,
 25,
 26,
 30,
 31,
 33,
 34,
 37,
 38,
 39,
 40,
 44,
 45,
 47,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 61,
 63,
 66,
 67,
 68,
 70,
 73,
 74,
 75,
 77,
 82,
 83,
 88,
 89,
 91,
 92,
 93,
 94,
 97,
 99}

In [19]:
len(set2)

#No the len is not 80

54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [22]:
set3=list(set(set1)-set(set2))
set3

[1,
 3,
 5,
 14,
 18,
 19,
 20,
 21,
 22,
 28,
 29,
 32,
 35,
 36,
 41,
 42,
 43,
 46,
 48,
 49,
 58,
 60,
 62,
 64,
 65,
 69,
 71,
 72,
 76,
 78,
 79,
 80,
 81,
 84,
 86,
 87,
 98]

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [23]:
set4=list(set(set2)-set(set1))
set4

[0, 67, 68, 99, 75, 47, 53, 55, 23, 88, 26]

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [24]:
set5=list(set(set2) and set(set1))
set5

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 10,
 11,
 13,
 14,
 15,
 16,
 18,
 19,
 20,
 21,
 22,
 24,
 25,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 48,
 49,
 50,
 51,
 52,
 54,
 56,
 57,
 58,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 69,
 70,
 71,
 72,
 73,
 74,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 86,
 87,
 89,
 91,
 92,
 93,
 94,
 97,
 98]

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [25]:
import math

In [26]:
len(set1)
len(set2)
len(set3)
len(set4)
len(set5)

80

#### Create an empty set called `set6`.

In [36]:
set6=set()

print(set6)

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [42]:
set6.update(set3,set5)

print(set6)

{1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 13, 14, 15, 16, 18, 19, 20, 21, 22, 24, 25, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 54, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 69, 70, 71, 72, 73, 74, 76, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 89, 91, 92, 93, 94, 97, 98}

#### Check if `set1` and `set6` are equal.

In [39]:
if set1==set6:
    print("set1 and set 6 are equal")
    
else: 
    print("set1 and set 6 are equal")

set1 and set 6 are equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [41]:
z = set1.issubset(set2)

print(z)

#set1 doesn't contain set2

z = set1.issubset(set3)

print(z)

#set1 doesn't contain set3

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [44]:
set7=set()
set8=set()
set7=set7.union(set3,set4,set5)
print(set7)

set8=set8.union(set1,set2)
print(set8)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 91, 92, 93, 94, 97, 98, 99}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 13, 14, 15, 16, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 91, 92, 93, 94, 97, 98, 99}

#### Using the `pop` method, remove the first element from `set1`.

In [24]:
set1=set(sample_list1)
set1

{0,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 12,
 13,
 14,
 15,
 16,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 31,
 32,
 34,
 35,
 36,
 37,
 38,
 40,
 41,
 42,
 43,
 47,
 48,
 49,
 50,
 51,
 52,
 54,
 55,
 56,
 57,
 58,
 60,
 61,
 62,
 63,
 65,
 66,
 68,
 69,
 70,
 71,
 73,
 74,
 75,
 77,
 79,
 80,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99}

In [25]:
set1.remove(0)

In [26]:
set1

{2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 12,
 13,
 14,
 15,
 16,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 31,
 32,
 34,
 35,
 36,
 37,
 38,
 40,
 41,
 42,
 43,
 47,
 48,
 49,
 50,
 51,
 52,
 54,
 55,
 56,
 57,
 58,
 60,
 61,
 62,
 63,
 65,
 66,
 68,
 69,
 70,
 71,
 73,
 74,
 75,
 77,
 79,
 80,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [27]:
set1 = set(sample_list1)
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

set1.difference(list_to_remove)

{0,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 12,
 13,
 14,
 15,
 16,
 20,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 32,
 34,
 35,
 36,
 37,
 38,
 40,
 42,
 43,
 47,
 48,
 50,
 52,
 54,
 55,
 56,
 57,
 58,
 60,
 62,
 63,
 65,
 66,
 68,
 70,
 73,
 74,
 75,
 77,
 80,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 90,
 92,
 93,
 94,
 95,
 96,
 97,
 98}